h1 {
    text-align: center;
    margin: 1em 0;
}

#arreglos p {
    font-size: 1.3em;
    text-align: center;
}

#arreglos{
    margin-top: 5em;
    text-align: center;
}

#contenedor {
    margin: 1em auto;
    background-color: #b186f1;
    width: min(30em, 100%);
    padding: 1em;
    text-align: center;
    border-radius: 2px;
    box-shadow: 40px 20px 30px #caacf9;
}

#contenedor select{
    width: 10%;
}

#numAleatorios {
    margin: 1em 0;
    display: flex;
    height: 1.2em;
}

#numAleatorios input {
    margin-left: .5em;
}
